@media print {
    .page-header {
        page-break-before: always;
    }

    .page-footer {
        page-break-after: always;
        position: fixed;
        bottom: 1em;
        /*left: 0;
        right: 0;*/
    }

    /* Bootstrap Print Grid workarounds */
    .col-pr-0dot5, .col-pr-1,.col-pr-2,.col-pr-3,.col-pr-4,
    .col-pr-5,.col-pr-6,.col-pr-7,.col-pr-8, 
    .col-pr-9,.col-pr-10,.col-pr-11,.col-pr-12 {
        float: left;
    }

    .col-pr-0dot5 {
        width: 4%;
    }
    .col-pr-1 {
        width: 8%;
    }
    .col-pr-2 {
        width: 16%;
    }
    .col-pr-3 {
        width: 25%;
    }
    .col-pr-4 {
        width: 33%;
    }
    .col-pr-5 {
        width: 42%;
    }
    .col-pr-6 {
        width: 50%;
    }
    .col-pr-7 {
        width: 58%;
    }
    .col-pr-8 {
        width: 66%;
    }
    .col-pr-9 {
        width: 75%;
    }
    .col-pr-10 {
        width: 83%;
    }
    .col-pr-11 {
        width: 92%;
    }
    .col-pr-12 {
        width: 100%;
    }
}
    