section {
  margin-left: 1em;
}

/* Custom sized elements */

#mainHeader {
  position: relative;
  float: left;
  clear: both;
  left: 0;
  top: 0;
  width: 100%;
  text-align: left;
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
}
#mainHeader #webLogo {
  position: relative;
  float: left;
  top: 0;
  left: 0;
  bottom: 0;
}
#mainHeader .title {
  position: relative;
  float: left;
  padding-left: 0.5em;
}
#mainHeader .logo-img {
  width: 64px;
  height: 64px;
}
#mainHeader .navbar {
  position: relative;
  float: right;
  height: 48px;
  /*bottom: 0;*/
}
#main-header .end {
  clear: both;
}

hr {
  max-width: none;
  height: 4em;
}

.section-title {
  text-align: center;
  margin-top: 0.5em;
  /*background-image: url("assets/img/box-1.png");
background-attachment: scroll;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;*/
}

.portfolio-group {
  background-color: #f0f0f0;
  padding: 0.5em;
}

.portfolio-group .portfolio-item {
  padding: 0.5em;
  margin-bottom: 1em;
}

.portfolio-group .portfolio-item.highlighted {
  background-color: #ffffff;
  box-shadow: 4px 4px 8px rgba(255, 241, 45, 0.7);
}

.portfolio-group .portfolio-item h1,
.portfolio-group .portfolio-item h2,
.portfolio-group .portfolio-item h3,
.portfolio-group .portfolio-item h4,
.portfolio-group .portfolio-item h5,
.portfolio-group .portfolio-item h6 {
  text-align: left;
}

.portfolio-group .portfolio-item .main-content {
  text-align: left;
}

.portfolio-group .gallery-images {
  justify-content: left;
  margin-bottom: 1em;
}

.gallery-images {
  display: flex;
  flex-direction: row;
}

.gallery-images .gallery-image-wrapper img {
  max-width: 200px;
  max-height: 200px;
  margin-left: 1em;
  margin-right: 1em;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  aspect-ratio: initial;
}

.gallery-images .gallery-image-wrapper .magnifier {
  display: none;
  position: relative;
  bottom: 20%;
  left: 40%;
  width: 20%;
  min-width: 2em;
  max-width: 4em;
  height: 1.5em;
  padding: 2px;
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 1em;
  text-align: center;
}

.gallery-images .gallery-image-wrapper.highlighted .magnifier,
.gallery-images .gallery-image-wrapper:hover .magnifier {
  display: block;
}

.gallery-images img.highlighted,
.gallery-images img:hover {
  border: 2px solid rgba(255, 241, 45, 0.7);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  list-style-type: none;
}

.tags li {
  background-color: #c0c0c0;
  font-size: smaller;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 1em;
}

.framing-left {
  width: 4em;
  height: 4em;
  margin-right: -2em;
  margin-bottom: 2em;
}
.framing-right {
  width: 4em;
  height: 4em;
  margin-left: -2em;
  margin-top: 2em;
}

.portfolio-item-wrapper {
  background-color: black;
}

.portfolio-item {
  /* width: fit-content; */
  /* background-color: #fffff0; */
  text-align: center;
  padding: 1em;
  border-radius: 2em 0 0 0;
}

.portfolio-item img {
  /* float: left; */
  width: auto;
  height: 300px;
}

.portfolio-item .description {
  float: right;
  max-width: 33%;
  margin-left: 1em;
}

.portfolio-item .description h2,
.portfolio-item .description p {
  color: #c0c0c0;
}

.portfolio-item .description h2 {
  text-shadow: 2px 2px 2px #666;
}
.portfolio-item .description p {
  text-shadow: 1px 1px 1px #666;
}

.portfolio-item .tags {
  clear: both;
  float: left;
  margin-top: 0.5em;
}

.image-preview.modal .modal-dialog .modal-content {
  width: 100%;
}

.image-preview.modal .modal-dialog .modal-content img.preview {
  width: 100%;
  aspect-ratio: initial;
}

/* Bootstrap hacks */

.carousel-control-prev,
.carousel-control-next {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Responsive Devices */

@media screen and (max-width: 600px) {
  .portfolio-item img {
    float: left;
    width: 100%;
    height: auto;
  }

  .portfolio-item .description {
    float: left;
    max-width: 100%;
  }
}
