
body {
    font-family: Helvetica;
    font-size: 12pt;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: Helvetica;
    font-size: 24pt;
    font-weight: bold;
}
h2 {
    font-family: Helvetica;
    font-size: 20pt;
    font-weight: bold;
}
h3 {
    font-family: Helvetica;
    font-size: 18pt;
    font-weight: bold;
}
h4 {
    font-family: Helvetica;
    font-size: 16pt;
    font-weight: bold;
}
h5 {
    font-family: Helvetica;
    font-size: 14pt;
    font-weight: bold;
}
h6 {
    font-family: Helvetica;
    font-size: 14pt;
    font-weight: bold;
}


hr {
	display: block;
	width: 100%;
	min-width: 490px;
    max-width: 600px;
	height: 2em;
	min-height: 2em;
	border: 0px;
    /*background-color: none;*/
	background-image: url('../img/hr-floral-1.jpg');
	background-repeat: no-repeat;
	background-position: center;
    background-size: contain; /*25% 100%;*/
    background-color: transparent;
}

/* Bootstrap hacks { */
hr.hr {
    background-color: transparent;
    opacity: 100%;
	height: 2em;
	min-height: 2em;
    margin: auto;
}

.col-md-0dot5 {
    width: 4%;
}

.table-row {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* } */

.loading {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
    bottom: 1em;
    z-index: 99999;
    background-color: rgba(0.6,0.6,0.6,0.25);
    background-image: url('../img/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

.hidden {
    display: none;
}

.no-bullets li {
  list-style-type: none;
}

.main-header {
    position: relative;
    float: left;
    clear: both;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.main-header-logo {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    bottom: 0;
}

.main-header-logo a {
    border: none;
}

.main-header-logo .logo-img {
    width: 120px;
    height: 120px;
}

.main-title {
    position: relative;
    float: left;
    padding-left: 0.5em;
}

.main-header-navbar {
    position: relative;
    float: right;
    height: 48px;
    bottom: 0;
}

.main-header-navbar .nav-link-title {
    margin-left: 2px;
}

.main-header .navbar .nav-link a {
    display: flex;
    width: 100%;
    height: 100%;
    /* line-height: 100%; */
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    color: #c0c0c0;
    font-weight: bold;
    /* background-color: #c0c0c0; */
}

.main-header .end {
    clear: both;
}

.sidebar-link a:hover {
    color: #ffc000;
    /* background-color: #ffffff; */
    /* font-weight: bold; */
}

.sidebar-toggle-btn {
    position: relative;
    float: left;
    clear: right;
    color: #ffffff;
    font-size: larger;
}

.main-container {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
}

.main-footer {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.sidebar {
    width: 15em;
    margin-left: 0;
    position: relative;
    float: left;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #000000;
    color: #ffffff;
    transition: all 0.3s;
}

.sidebar.collapse {
    margin-left: -15em;
}

.sidebar-link {
    display: flex;
    width: 100%;
    height: 100%;
    /* line-height: 100%; */
    border-top: 2px solid #c0c0c0;
    vertical-align: middle;
}

.sidebar-link a {
    display: flex;
    width: 100%;
    height: 100%;
    color: #c0c0c0;
    font-weight: bold;
}

.page-header {
  width: 100%;
  margin-bottom: 2em;
}

.section-title {
    justify-content: center;
    text-align: center;
}

.framing-left {
    display: inline;
    position: relative;
    float: left;
    left: 0;
    height: 100%;
    background-image: url("../img/frame-upperleft-1.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    /*hack for 100% height not working */
    padding-bottom: 4em;
    margin-bottom: -4em;
}

.framing-right {
    display: inline;
    position: relative;
    float: right;
    right: 0;
    height: 100%;
    background-image: url("../img/frame-bottomright-1.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    /*hack for 100% height not working */
    padding-bottom: 4em;
    margin-bottom: -4em;
}

.main-content {
    margin-left: 0.5em;
}

.center {
    text-align: center;
    justify-content: center;
}

.lead-word {
    display: inline;
    font-size: larger;
}

table tr .no-data-row:before {
    content: '\2014';
}

table tr .no-data-row:after {
    content: '\2014';
}

.tags {
  display: flex;
  list-style-type: none;
}

.tags li {
  background-color: #c0c0c0;
  font-size: smaller;
  padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 1em;
}

.error {
    border-color: "#cc0000";
    color: "#ff0000";
}

.bg-black {
    background-color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

.qp-icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.qp-icon-xs {
    width: 16px;
    height: 16px;
    margin: 1px;
}
.qp-icon-s {
    width: 32px;
    height: 32px;
    margin: 1px;
}
.qp-icon-m {
    width: 64px;
    height: 64px;
    margin: 2px;
}
.qp-icon-l {
    width: 128px;
    height: 128px;
    margin: 4px;
}
.qp-icon-xl {
    width: 512px;
    height: 512px;
    margin: 8px;
}

.qp-pic-fb {
    background-image: url('../img/036-facebook.png');
}
.qp-pic-ig {
    background-image: url('../img/029-instagram.png');
}

.qp-pic-coin {
    background-image: url('../img/coin.png');
}
.qp-pic-love-plant {
    background-image: url('../img/003-plant.png');
}
.qp-pic-planet {
    background-image: url('../img/002-planet.png');
}
.qp-pic-cup {
    background-image: url('../img/034-cup.png');
}
.qp-pic-cupid {
    background-image: url('../img/017-cupid.png');
}
.qp-pic-messages {
    background-image: url('../img/020-messages.png');
}
